/*    ----    css for the background ----   */
html, body{
    /* background-image: url(../images/pexels.jpeg); */
    background-image: linear-gradient(to right, #00000081, #000000c0), url(../images/pexels1.jpeg);
}


/* --- searchbox --- */
.search{
    width: 100%;
    margin-bottom: 20px;
}
.search input{
    padding: 10px 17px;
    width: 100%;
    outline: none;
    border: none;
    border-radius:25px;
    font-size: 15px;
    color: #777;
    box-sizing: border-box;
}
.cat_right{
    float: right;
    width: 25%;
}
.table{
    float: left;
}
.cat_section {
    margin-top: 20px;
}
